<!DOCTYPE html>
<html>
<head>
    <title><%- title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<body>
<p>Todo example app: <a href="/">Index</a> | <a href ="/todos">Todos</a></p>
<hr/>
<%- body %>
</body>
</html>
