<html>
<head>
    <title>Todo App</title>
</head>

<body>

<table>
    <tr><td align="center">
            <h2><%= title %></h2>
        </td></tr>
    <tr><td align="left">

            <ul>
                <li><a href="/todos/1">Buy milk</a> <input type ="checkbox"/></li>
                <li><a href="/todos/2">Write Article</a> <input type ="checkbox"/></li>
                <li><a href="/todos/3">Read Paper</a> <input type ="checkbox" checked/></li>
            </ul>

        </td></tr>
    <tr> <form action="/todos" method="post">
            <td align="center">

                <input type="text" id="todo-title" name="title"><br><br>

                <input type="submit" value="Add">

            </td> </form></tr>

</table>

</body>
</html>
